@use '../variables' as vars;
@use "../base/mixins";

.nav {
  background-color: vars.$primary-color;
  position: fixed;
  width: 100%;
  height: 2rem;
  top: 0;
  left: 0;
}

.nav__content {
  margin: 0 2rem;
}

.nav__persistent {

}

.nav__menu {
  display: block;

  @include mixins.lg {
    display: block;
  }
}

.nav__item_list {
}

.nav__item {
}


.nav__toggle:checked ~ .nav__menu {
  display: none; 
}

.nav__toggle {
  @include mixins.lg {
    display: none;
  }
}
